@font-face {
    font-family: 'StreetSoul';
    src: url(FONT/street-soul-font/StreetSoul-ovXd.ttf);
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    position: relative;
    font-family: 'StreetSoul', sans-serif;
    color: #000;
    background-color: #fff;
    background-image: url(LOGO/wp.jpg);
    background-size:cover;
    flex: 1 0 auto;
}
.header{
background-color: #000;
position: fixed;
top: 0;
left: 0;
width: 100%;
justify-content: space-between;
display: flex;
align-items: center;
margin-bottom: 30px;
z-index: 999;
} 
.body-logo {
    width: 90px;
    height: 50px;
    position: relative;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;   
}
.navigation {
    width: 100%;
    background-color: rgba(0, 0, 0, 50%);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

.navigation a {
    position: relative;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background: transparent;
    text-decoration: none;
    letter-spacing: 1px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    z-index: 1;
    overflow: hidden;
    padding-top: 0;
}
.navigation a::before {
    content: ''; 
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffffff;
    transition:  .7s;
    z-index: -1;
}
.navigation a:hover::before {
    width: 100%;
}
.navigation a:hover{
    color: #000000;
}
.navigation .dropdown {
    position: relative;
    z-index: 3; 
}

.navigation .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000000fa;
    display: none;
    padding: 4px;
    z-index: 4;
}

.navigation .dropdown:hover .dropdown-content {
    display:grid;
}

.navigation .dropdown-content a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 800;
    padding: 4px;
}

.navigation .dropdown-content a:hover {
    background-color: #000000;
    color: #000000;
}

.footer { 
    height: 30px; 
    width: 100%;
    text-align: center;
    align-items: center;
    align-self: center;
    background-color: #000;
    color: #b6b6b6;
    flex-shrink: 0;
  }
.footer p{
    font-size: 14px;
    display: contents;
    align-self: center;
    font-family:Arial;
    font-style: italic;
  }